:root {
    --menu-bar-height: 44px;
    --menu-button-height: calc(var(--menu-bar-height) * 0.26);
    --menu-open-duration: 600ms;
    --menu-elem-duration: 300ms;
    --menu-sliding-duration: 300ms;
}


/* WHOLE CONTAINER */

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    height: var(--menu-bar-height);
    background-color: #16161700;
    -webkit-transition: opacity 0.25s ease-out, background-color calc(var(--menu-open-duration)) ease-out;
    -o-transition: opacity 0.25s ease-out, background-color calc(var(--menu-open-duration)) ease-out;
    transition: opacity 0.25s ease-out, background-color calc(var(--menu-open-duration)) ease-out;
}
.menu-container.show {
    height: var(--viewport-height);
    background-color: var(--background-color-second);
}
.menu-container.show.hiding {
    background-color: #16161700;
}

/* BAR */

.menu-bar {
    position: fixed;
    top: 0;
    left: calc(calc(2vw + var(--menu-button-height) * 2 + 2vw));
    width: calc(100vw - 2 * calc(2vw + var(--menu-button-height) * 2 + 2vw));
    height: var(--menu-bar-height);
    opacity: 0;
    background: #00000000;
    z-index: auto;
    font-weight: bold;
    -webkit-transition: opacity calc(var(--menu-open-duration) / 1.7) ease-out;
    -o-transition: opacity calc(var(--menu-open-duration) / 1.7) ease-out;
    transition: opacity calc(var(--menu-open-duration) / 1.7) ease-out;
}
.menu-bar.show {
    opacity: 1;
}

.menu-bar > .row-container {
    gap: 10px;
}

.menu-bar .text {
    font-size: calc(var(--menu-bar-height) * 0.5);
}

.menu-bar-logo {
    height: calc(var(--menu-bar-height) * 0.7);
}


/* BUTTON */

.menu-button {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    height: var(--menu-bar-height);
    width: calc(2vw + var(--menu-button-height) * 2 + 2vw);
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}
.menu-button .line:first-child {
    top: calc(var(--menu-bar-height) * 0.37);
}
.menu-button .line:last-child {
    top: calc(var(--menu-bar-height) * 0.63);
}

.line {
    position: absolute;
    width: calc(var(--menu-button-height) * 2);
    height: 2px;
    right: 2vw;
    background-color: var(--text-color-second);
    opacity: 80%;
}

.menu-button.close .line:first-child {
    --translation: calc(var(--menu-button-height) / 2);
    --rotation: 45deg;
    -webkit-animation: moveAndRotate 0.2s ease-in-out forwards;
            animation: moveAndRotate 0.2s ease-in-out forwards;
}

.menu-button.open .line:first-child {
    --translation: calc(var(--menu-button-height) / 2);
    --rotation: 45deg;
    -webkit-animation: rotateAndMove 0.2s ease-in-out forwards;
            animation: rotateAndMove 0.2s ease-in-out forwards;
}

.menu-button.close .line:last-child {
    --translation: calc(var(--menu-button-height) / -2);
    --rotation: -45deg;
    -webkit-animation: moveAndRotate 0.2s ease-in-out forwards;
            animation: moveAndRotate 0.2s ease-in-out forwards;
}

.menu-button.open .line:last-child {
    --translation: calc(var(--menu-button-height) / -2);
    --rotation: -45deg;
    -webkit-animation: rotateAndMove 0.2s ease-in-out forwards;
            animation: rotateAndMove 0.2s ease-in-out forwards;
}

@-webkit-keyframes moveAndRotate {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 80%;
    }
    60% {
        -webkit-transform: translateY(var(--translation));
                transform: translateY(var(--translation));
        opacity: 80%;
    }
    100% {
        -webkit-transform: translateY(var(--translation)) rotate(var(--rotation));
                transform: translateY(var(--translation)) rotate(var(--rotation));
        opacity: 100%;
    }
}

@keyframes moveAndRotate {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 80%;
    }
    60% {
        -webkit-transform: translateY(var(--translation));
                transform: translateY(var(--translation));
        opacity: 80%;
    }
    100% {
        -webkit-transform: translateY(var(--translation)) rotate(var(--rotation));
                transform: translateY(var(--translation)) rotate(var(--rotation));
        opacity: 100%;
    }
}

@-webkit-keyframes rotateAndMove {
    0% {
        -webkit-transform: translateY(var(--translation)) rotate(var(--rotation));
                transform: translateY(var(--translation)) rotate(var(--rotation));
        opacity: 100%;
    }
    40% {
        -webkit-transform: translateY(var(--translation));
                transform: translateY(var(--translation));
        opacity: 80%;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 80%;
    }
}

@keyframes rotateAndMove {
    0% {
        -webkit-transform: translateY(var(--translation)) rotate(var(--rotation));
                transform: translateY(var(--translation)) rotate(var(--rotation));
        opacity: 100%;
    }
    40% {
        -webkit-transform: translateY(var(--translation));
                transform: translateY(var(--translation));
        opacity: 80%;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 80%;
    }
}


/* MENU */

.menu-open {
    position: relative;
    width: 100vw;
    height: var(--menu-bar-height);
    background-color: #161617cf;
    -webkit-backdrop-filter: saturate(130%) blur(10px);
            backdrop-filter: saturate(130%) blur(10px);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    --menu-open-scaleY: 1;
    -webkit-transform: scaleY(var(--menu-open-scaleY));
        -ms-transform: scaleY(var(--menu-open-scaleY));
            transform: scaleY(var(--menu-open-scaleY));
    -webkit-transition: -webkit-transform var(--menu-elem-duration) ease-out;
    transition: -webkit-transform var(--menu-elem-duration) ease-out;
    -o-transition: transform var(--menu-elem-duration) ease-out;
    transition: transform var(--menu-elem-duration) ease-out;
    transition: transform var(--menu-elem-duration) ease-out, -webkit-transform var(--menu-elem-duration) ease-out;
}

@supports not ((-webkit-backdrop-filter: saturate(130%) blur(10px)) or (backdrop-filter: saturate(130%) blur(10px))) {
    .menu-open {
        background-color: #161617f8;
    }
}

.row-container-menu {
    position: absolute;
    --menu-gap: 50px;
    top: var(--menu-gap);
    left: var(--menu-gap);
    height: auto;
    width: auto;
    gap: var(--menu-gap);
    padding-bottom: var(--menu-gap);
}

.menu {
    position: relative;
    height: auto;
    width: auto;
    display: none;
}
.menu.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.menu.show.sliding-left {
    -webkit-animation: sliding-left var(--menu-sliding-duration) ease-in-out forwards;
            animation: sliding-left var(--menu-sliding-duration) ease-in-out forwards;
}
.menu.show.sliding-right {
    -webkit-animation: sliding-right var(--menu-sliding-duration) ease-in-out forwards;
            animation: sliding-right var(--menu-sliding-duration) ease-in-out forwards;
}

@-webkit-keyframes sliding-left {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 100%;
    }
    100% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
        opacity: 0%;
    }
}

@keyframes sliding-left {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 100%;
    }
    100% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
        opacity: 0%;
    }
}

@-webkit-keyframes sliding-right {
    0% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
        opacity: 0%;
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
        opacity: 100%;
    }
}

@keyframes sliding-right {
    0% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
        opacity: 0%;
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
        opacity: 100%;
    }
}

.menu > * {
    margin-top: 2vh;
    --elem-animation-translation: -9px;
    -webkit-transform: translateY(var(--elem-animation-translation));
        -ms-transform: translateY(var(--elem-animation-translation));
            transform: translateY(var(--elem-animation-translation));
    opacity: 0%;
}
.menu > *.show:not(.noanimation) {
    -webkit-animation: menuElemTransitionFwd var(--menu-elem-duration) ease-in-out forwards;
            animation: menuElemTransitionFwd var(--menu-elem-duration) ease-in-out forwards;
}
.menu > *.show.noanimation {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
}
.menu > *.show.hiding {
    -webkit-animation: menuElemTransitionBwd calc(var(--menu-elem-duration) * 0.35) ease-in-out forwards;
            animation: menuElemTransitionBwd calc(var(--menu-elem-duration) * 0.35) ease-in-out forwards;
}

@-webkit-keyframes menuElemTransitionFwd {
    0% {
        -webkit-transform: translateY(var(--elem-animation-translation));
                transform: translateY(var(--elem-animation-translation));
        opacity: 0%;
    }
    50% {
        opacity: 35%;
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes menuElemTransitionFwd {
    0% {
        -webkit-transform: translateY(var(--elem-animation-translation));
                transform: translateY(var(--elem-animation-translation));
        opacity: 0%;
    }
    50% {
        opacity: 35%;
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 100%;
    }
}

@-webkit-keyframes menuElemTransitionBwd {
    0% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 100%;
    }
    90% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 10%;
    }
    100% {
        -webkit-transform: translateY(var(--elem-animation-translation));
                transform: translateY(var(--elem-animation-translation));
        opacity: 0%;
    }
}

@keyframes menuElemTransitionBwd {
    0% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 100%;
    }
    90% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 10%;
    }
    100% {
        -webkit-transform: translateY(var(--elem-animation-translation));
                transform: translateY(var(--elem-animation-translation));
        opacity: 0%;
    }
}


/* BACK ARROW */

.menu-back-arrow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: var(--menu-bar-height);
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    z-index: 1;
}
.menu-back-arrow > .line:first-child {
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    width: calc(var(--menu-bar-height) * 0.28);
    top: calc(var(--menu-bar-height) * 0.41);
    left: 2.3vw;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.menu-back-arrow > .line:last-child {
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    width: calc(var(--menu-bar-height) * 0.28);
    top: calc(var(--menu-bar-height) * 0.59);
    left: 2.3vw;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.menu-back-arrow.show {
    display: block;
}
.menu-back-arrow.show.sliding-left {
    -webkit-animation: sliding-left var(--menu-sliding-duration) ease-in-out forwards;
            animation: sliding-left var(--menu-sliding-duration) ease-in-out forwards;
}
.menu-back-arrow.show.sliding-right {
    -webkit-animation: sliding-right var(--menu-sliding-duration) ease-in-out forwards;
            animation: sliding-right var(--menu-sliding-duration) ease-in-out forwards;
}
.menu-back-arrow.show.hiding {
    -webkit-animation: menuElemTransitionBwd var(--menu-elem-duration) ease-in-out forwards;
            animation: menuElemTransitionBwd var(--menu-elem-duration) ease-in-out forwards;
}
